<?xml version="1.0"?>

<configuration>

  <connectionStrings>
    <add name="role_pawn_dbConnectionString" connectionString="Data Source=DESKTOP-BQ3U0QJ;Initial Catalog=role_pawn_db;User ID=sa"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <compilation debug="false" targetFramework="4.0" />
  </system.web>

</configuration>
