<?xml version="1.0"?>

<configuration>

  <connectionStrings>
    <add name="STOCK_SYSTEM_WEB_2022ConnectionString" connectionString="Data Source=DESKTOP-BQ3U0QJ;Initial Catalog=STOCK_SYSTEM_WEB_2022;User ID=sa;Password=123"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <compilation debug="false" targetFramework="4.0" />
  </system.web>

</configuration>
